* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
}

html {
    behavior: smooth;
}


.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {

    --bs-offcanvas-bg: #333a4467;
}

.offcanvas-title {
    color: #fff;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
}


.hamlink {

    font-family: sans-serif;
}




.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
    --bs-offcanvas-width: 300px;
}

.navbar {
    --bs-navbar-toggler-border-color: none;
    --bs-navbar-color: orange;
    height: 70px;
}


.container {
    width: 1150px !important;
    margin: auto;
    padding: 0 15px 0 15px;
}

nav {
    padding-top: 20px;
}

header {
    margin-bottom: 100px;
}

.navll {
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    color: #939CAA;
}

.navll:hover {
    color: #495567;
}

.navll:active {
    color: #FCB72B;
}

.nav__link a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    /*identicaltoboxheight,or167%*/
    font-family: "mono";
    background-color: #FCB72B;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 39px 14px 39px;
    border: 2px solid #FCB72B;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.nav__link a:hover {
    background-color: #c49743;
    color: #fff;
}

.nav__link a:active {
    background-color: transparent;
    color: #FCB72B;
}

.hero__ifgo {
    /* padding: 110px 50px 0 80px; */
    display: flex;
    background-color: #E7816B;

    justify-content: space-between;
    border-radius: 15px;
    height: 480px;
    align-items: center;

}
.hero__img{
    order: 2;
}
.abtext11{
    order: 1;
}

.hero__infoooo {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 458px;
    /* align-items: center; */
    justify-content: center;
}

.hero__infoooo h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    /* or 100% */
    color: #FFFFFF;
}

.hero__infoooo p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #FFFFFF;
}

.hero__button a {
    background-color: #fff;
    text-decoration: none;
    padding: 18px 25px 18px 25px;
    margin-bottom: 80px;
    border-radius: 8px;
    color: black;
}

.hero__btn:hover {
    background-color: #FFAD9B;
    color: #fff;
}

.hero__btn:active {
    background-color: #E7816B;
    color: #fff;
    border: 2px solid #fff;
}

.hero__button {
    margin-top: 50px;
    margin-bottom: 80px;
}

.hero {
    margin-bottom: 100px;
}

.hero_info33 {
    background-color: #FDF3F0;
    height: 640px;
    display: flex;
    /* flex-direction: ; */
    justify-content: space-between;
    padding-right: 96px;
}

/* .img_hero55 .info__img img{
    order: 1;
} */
.ab__text {
    order: 1;
}

.hero_info44 .info__img {
    order: 2;
}

.infoo_textt {
    width: 445px;
}

.world {
    margin-bottom: 100px;
}

.wordd {
    margin-top: 100px;
}

.wordd__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.wcard {
    text-align: center;
}

.wcard h3 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.world_card_btn a {

    text-decoration: none;
    background-color: #E7816B;
    color: #fff;
    padding: 18px 18px 18px 18px;
    border-radius: 8px;
}

.world_card_btn a:hover {
    background-color: #FFAD9B;
    color: #fff;
}

.world_card_btn a:active {
    background-color: #E7816B;
    color: #fff;
    border: 2px solid #fff;
}

.hero_info44 {
    background-color: #FDF3F0;
    height: 640px;
    display: flex;
    /* flex-direction: ; */
    justify-content: space-between;
    padding-left: 96px;
}


.get__bg {
    width: 100%;
    background-color: #E7816B;
    padding: 70px 90px 60px 80px;
    border-radius: 15px;
}

.gett__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gett_textt {
    width: 470px;

}

.gett_textt h2 {
    color: #fff;
}

.gett_textt p {
    color: #fff;
}


.get__button a {
    background-color: #fff;
    text-decoration: none;
    padding: 18px 25px 18px 25px;
    margin-bottom: 80px;
    border-radius: 8px;
    color: black;
}

.get__button a:hover {
    background-color: #FFAD9B;
    color: #fff;
}

.get__button a:active {
    background-color: #E7816B;
    color: #fff;
    border: 2px solid #fff;
}

footer {
    width: 100%;
    background-color: #1D1C1E;
    padding-top: 144px;
    padding-bottom: 75px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
    align-items: center;
}

.footer__links22 a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-family: sans-serif;
    /* identical to box height, or 100% */
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-left: 45px;
}

.footer__links a:hover {
    color: #ccd2dac5;
}

.footer__links a:active {
    color: #E7816B;
}

.footer__infoo22 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info__title {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.infoo__adress {
    font-family: sans-serif;
    font-weight: 100;
    color: #FFFFFF;
    mix-blend-mode: normal;
    line-height: 26px;
    opacity: 0.5;
}

.get__bg {
    background-color: #E7816B;

    margin-top: -30px;

    position: relative;
    bottom: -70px;
}













@media only screen and (max-width:375px) {
    .container {
        width: 327px !important;
        margin: auto;
        padding: 0 15px 0 15px;
    }

    header {
        margin-bottom: 100px;
    }

    .navbar-toggler {
        display: block !important;
    }

    .nav__link {
        display: none !important;
    }

    .hero__ifgo img {
        /* order: 1; */
        position: relative;
        top: -100px;


    }
    .hero__img{
        order: 1;
    }
    .abtext11{
        order: 2;
    }

    .hero__bg {
        background-color: #E7816B;
        width: 100%;
        margin-bottom: 100px;

    }

    .hero__bg {
        padding-bottom: 80px;
        height: 1015px;
    }

    .phoneh__title h2 {
        text-align: center;
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
    }

    .hero__infoooo {
        /* position: relative;
        bottom: -300px; */
        margin: 0;
        display: flex;
        width: 327px !important;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        /* order: 2; */


    }

    .hero__infoooo p {
        text-align: center;
    }

    .phone__hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero__ifgo {
        text-align: center;
        padding: 80px 0 0 0;
        background-color: transparent;
        color: #fff;
        display: flex;
        flex-direction: column;

    }

    .hero__btn {
        background-color: #fff;
        text-decoration: none;
        padding: 18px 25px 18px 25px;
        /* margin-bottom: 80px; */
        border-radius: 8px;
        color: black;

    }

    .hero__btn:hover {
        background-color: #FFAD9B;
        color: #fff;
    }

    .hero__btn:active {
        background-color: #E7816B;
        color: #fff;
        border: 2px solid #fff;
    }

    .hero__button {
        margin-top: 40px;
        margin-bottom: 180px;
    }

    .hero__img {
        display: block;
    }

    .hero_info33 img {
        width: 375px;
    }

    .ab__text {
        order: 2;
    }

    .hero_info44 .info__img {
        order: 1;
    }

    .infoo_textt {
        width: 445px;
    }

    .world__bg {
        background-color: #FDF3F0;
        height: 1000px;
    }

    .world__title {
        color: #E7816B;
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    .infoo_textt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .world__text {
        width: 320px;
        color: black;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }

    .world__text2 {
        margin-top: 15px;
        color: black;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        width: 320px;
    }

    .wordd__cards {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 90px;
    }

    .wcard {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .wcard {
        margin-top: 80px;

    }

    .wcard img {
        margin-bottom: 20px;
    }

    .wcard h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .world_card_btn {
        margin-top: 20px;
    }

    .world_card_btn a {

        text-decoration: none;
        background-color: #E7816B;
        color: #fff;
        padding: 18px 18px 18px 18px;
        border-radius: 8px;
    }

    .world_card_btn a:hover {
        background-color: #FFAD9B;
        color: #fff;
    }

    .world_card_btn a:active {
        background-color: #E7816B;
        color: #fff;
        border: 2px solid #fff;
    }

    .hero_info55 {
        height: 1100px;
    }

    .get__bg {
        background-color: #E7816B;
        border-radius: 15px;
        margin-top: -30px;
        padding: 0 24px 0 24px;
        position: relative;
        bottom: -200px;

    }

    .gett__info {
        text-align: center;
        padding: 80px 0 0 0;
        color: #fff;
        display: flex;
        flex-direction: column;
    }


    .gett_textt {
        display: flex;
        flex-direction: column;
        width: 320px;
        justify-content: center;
        align-items: center;
    }

    .gett_textt {
        width: 279px;
    }

    .gett_textt p {
        width: 279px;
    }

    .hero__infoooo h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        width: 279px;
    }

    .gett__btn {
        background-color: #fff;
        text-decoration: none;
        padding: 18px 25px 18px 25px;
        margin-bottom: 80px;
        border-radius: 8px;
        color: black;

    }

    .gett__btn:hover {
        background-color: #FFAD9B;
        color: #fff;
    }

    .gett__btn:active {
        background-color: #E7816B;
        color: #fff;
        border: 2px solid #fff;
    }

    .get__button {
        margin-top: 20px;
        margin-bottom: 80px;
    }


    footer {
        background-color: black;
        width: 100%;
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 240px 0 40px 0;
    }

    .footer__links {

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__links22 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footer__links22 a {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-left: 0;
    }

    .footer__infoo22 {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .footer__links a {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        height: 120;
        /* identical to box height, or 167% */
        font-family: sans-serif;
        color: #fff;
        margin-bottom: 10px;
    }

    .footer__links a:hover {
        color: #606b7ac5;
    }

    .footer__links a:active {
        color: #FCB72B;
    }

    .footer__links a:nth-child(1) {
        margin-top: 40px;
    }

    .footer__messeng a img {
        width: 24px;
        padding: 0;
        margin: 40px 0 40px 10px;
    }

    .footer__info {
        text-align: center;
    }

    .info__title {

        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.5;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        margin: 0;
        margin: 30px 0 0 0;
    }

    .infoo__adress {
        color: #FFFFFF;
        margin: 3px 0 0 0;
        mix-blend-mode: normal;
        opacity: 0.5;
        font-weight: 100;
        font-size: 16px;
        line-height: 26px;
    }


}